@page
@section Styles {
    <link rel="stylesheet" href="~/css/catalogo.css" type="text/css">
    <link rel="stylesheet" href="~/css/reset.css" type="text/css">
}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Catalogo LoCAR</title>
        <link rel="stylesheet" href="reset.css">
    </head>

    <body>
        <header></header>
        <main>
            <div class="carro">
                <ul>
                    <li>
                        <p>Toyota Corolla</p>
                        <p class="sedan">Sedan</p>
                        <p class="automatico">Automático</p>
                        <p class="ano">2018</p>
                        <p class="preco">R$500,00</p>
                    </li>
                </ul>
            </div>
        </main>
    </body>