@page
@section Styles {
    <link rel="stylesheet" href="~/css/catalogo.css" type="text/css">
    <link rel="stylesheet" href="~/css/reset.css" type="text/css">
}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Catalogo LoCAR</title>
        <link rel="stylesheet" href="reset.css">
    </head>

    <body>
        <header></header>
        <main>
            <div class="carro" style="width: 1000px;">
                <ul>
                    <li>
                        <img src="https://www.automaistv.com.br/wp-content/uploads/2020/07/toyota_corolla_hybrid_sedan_86_edited.jpg" height="100px" width="100px">
                        <div class="listaCarro">
                        <p class="carroS">Toyota Corolla</p>
                        <hr class="solid">
                        <p class="sedan">Sedan       2018</p>
                        <p class="automatico">Automático       R$500,00</p>
                        @* <p class="ano"></p>
                        <p class="preco"></p> *@
                        </div>
                    </li>
                </ul>
            </div>
        </main>
    </body>