@page
@section Styles {
    <link rel="stylesheet" href="~/css/catalogo.css" type="text/css">
    <link rel="stylesheet" href="~/css/reset.css" type="text/css">
}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Catalogo LoCAR</title>
        <link rel="stylesheet" href="reset.css">
    </head>

    <body>
        <div class="card" style="width: 10rem;">
            <img src="Pages/Catalogo/Pictures/corolla.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
       
    </body>