@page
@model LoCar.Pages.CadastroUsuario.CadastroUsuarioModel

@{
    ViewData["Title"] = "Cadastro";
}

    <div class="card text-center">
        <div class="card-header">
            Cadastro
        </div>

        <div class="card-body">


            <form>

                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Nome</label>
                    <div class="col-sm-10">
                        <input type="name" class="form-control" id="nome" placeholder="Nome Completo">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Confirmar E-mail</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Confirmar Senha</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">CPF</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="CPF">
                    </div>
                </div>

            </form>

            <div class="float-right">
                <a href="#" class="btn btn-primary">Avançar</a>
            </div><br>

        </div>
    </div>
    
